---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const fictionEntries = await getCollection("fiction", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const blogPosts = blogEntries.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const skyboundSaga = fictionEntries.filter(
  (entry) => entry.data.tags && entry.data.tags.includes("Skybound Saga"),
);

const otherWriting = fictionEntries
  .filter((entry) => !entry.data.tags?.includes("Skybound Saga"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const pageTitle = "Writings";
const metaTitle = "Matthew Oyan - Writings";
const pageDescription =
  "Writings of Matthew Oyan, including blogs and fiction.";
---

<BaseLayout
  pageTitle={pageTitle}
  metaTitle={metaTitle}
  pageDescription={pageDescription}
>
  <h2>Blog</h2>
  <div class="tile-container">
    {
      blogPosts.map((post) => (
        <BlogPost
          url={`/blog/${post.slug}`}
          title={post.data.title}
          date={post.data.pubDate}
        />
      ))
    }
  </div>

  <h2>Skybound Saga</h2>
  <p>
    Skybound Saga is a science-fantasy speculative fiction project that took
    flight in 2016. While it is primarily a work of literature, it is also
    supported by pieces of visual art to present the depth of its world. The
    project centers around the Drarthers: a race of half-human, half-dragon
    hybrids capable of magic. Coursing through their veins, their magic is
    powered by Metaquarks; mysterious sub-atomic fundamental particles, able to
    manipulate matter and the fundamental forces of the universe.
    <br /><br />
    Like many speculative fiction projects, much time and care was spent crafting
    histories, cultures, factions, states, languages, and many facets of civilization
    to fully immerse oneself into the Saga. It also mixes dragon myths from all over
    the world, combining Asian dragons, western dragons, and other dragon-like creatures
    from the Americas and Africa. It even introduces ‘alien dragons’ into the mix,
    further combining scientific and fantastic elements.
  </p>
  <a href="/wiki/index.html" target="_blank" rel="noopener noreferrer">
    <button is-~="button">Launch Wiki</button>
  </a>
  <div class="tile-container">
    {
      skyboundSaga.map((entry) => (
        <BlogPost
          url={`/fiction/${entry.slug}`}
          title={entry.data.title}
          date={entry.data.pubDate}
        />
      ))
    }
  </div>

  <h2>Other Writing</h2>
  <div class="tile-container">
    {
      otherWriting.map((entry) => (
        <BlogPost
          url={`/fiction/${entry.slug}`}
          title={entry.data.title}
          date={entry.data.pubDate}
        />
      ))
    }
  </div>
  <br />
</BaseLayout>
